{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your bet
{% endblock %}

{% block content %}


    <p>
       Before you start the game, we would like to ask you to indicate your expected total score at the end of the game.
        Remember, there are 7 rounds and you can score maximum 3 point or lose maximum 1 point in each.


    </p>


    {% formfield player.er1 label="Please, indicate your expected score in the game!" %}

    {% include Constants.instructions_template %}

    {% next_button %}


{% endblock %}


