{% extends "global/Page.html" %}
{% load otree staticfiles %}

{% block title %}
    Strategy
{% endblock %}

{% block content %}

    <p>
       Before you start playing the game, you will be assigned to  one of the following strategies.
       The strategy will detremine your move, i.e. whether you cheat or cooperate, in all seven rounds of the game.


    </p>

    <p><b>Nice-guy</b></p>
    <p>The Nice-guy would never betray anyone. If you choose his strategy, you will cooperate in every round of the game.

    </p>

    <p><b>Nasty-one</b></p>
    <p>The Nasty-one is the opposite of the Nice-guy: she would rather die than cooperate. If you choose her stategy, you will cheat in every round of the game.

    </p>

    <p><b>Grudger</b></p>
    <p>This guy holds the grudge until the end of times. If you choose his strategy, you will cooperate until your opponent cheats, then act like the Nasty-one and cheat for all remaining rounds of the game.

    </p>

    <p><b>Copycat</b></p>
    <p>The Copycat is like a chameleon--she plays excatly like her opponent. If you choose her strategy, you will cooperate first, then just copy your opponent's move in every other rounds.

    </p>

    <h3 class="panel-sub-heading">
        Your assigned strategy is the {{ force_strategy }}!
    </h3>


    {% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
