{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Final Results
{% endblock %}

{% block content %}

    <p>
        Your total payoff at the end of the game is {{ participant.payoff }}.

    </p>


    {% formfield player.final_satisfaction label="How satisfied are you with your final payoffs? Please, indicate with a number between 1 and 10." %}

    {% formfield group.er2 label="If you had the chance to play the game, what do you think your score would be?" %}

    {% next_button %}



{% endblock %}
